@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* AÑADIR COMENTARIOS (s) (m) (l) */
/* COLORES */
body{
    --verde_oscuro:#0a9474;
    --verde_claro:#27d687;
    --fondo_blanco:#f9f8fd;
    --fondo_azulado:#eeeefc;
    --fondo_grisaceo:#b5d4cf;
    --enlaces:#65537f;
    --naranja:#ffd11f;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url('imagenes/texture-bg.jpg');
    background-repeat: repeat; 
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

html{
    scroll-behavior: smooth;
    scroll-margin-top: 60px;
}


/* Pantallas Grandes */
/* ELEMENTOS */
.dos-columnas{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0;
}
.columna{
    width:100%;
    padding: 20px 0;
    border-radius: 10px;
    
}
.download-app{
    width: 400px;
    padding: 20px;
}
/* NAVBAR */
nav {
    background: var(--fondo_azulado);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 6;
    box-shadow: 0 4px 10px rgba(21, 21, 46, 0.1);
}

nav .logo {
    display: flex;
    align-items: center;
    height: 90px;
    margin-left: 20px !important;
    z-index: 11; /* Ensure the logo is above the menu */
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-grow: 1;
    margin-right: 20px;
}

nav ul a li {
    list-style: none;
    margin: 0 60px;
    display: inline-block;
    border-radius: 60px;
}

nav ul a li {
    text-decoration: none;
    color: var(--enlaces);
}

.opciones{
    background-color: var(--fondo_grisaceo);
    padding: 10px 50px;
}
.opciones:hover{
    /* background-color: var(--fondo_grisaceo); */
    background: #b5d4cf;
    box-shadow: inset 7px 7px 23px #659891,
            inset -7px -7px 23px #cef0f4;
}
#li_active{
    background-color: var(--fondo_blanco);
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(21, 21, 46, 0.1);
   
}
a #li_active {
    color: var(--verde_claro);
}
#enlace-tienda{
    height: 50px;
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(21, 21, 46, 0.1);
}

/* PORTADA */
#portada{
    width: 100%;
    
}
/* ARTICLE */

article{
    background: url('imagenes/pikmin-background-04.webp');
    background-size: cover;
    background-position: center;
    height: 78.13vw;
    display: flex;
    /* justify-content: center; */
    /* PRUEBAS */
     flex-direction: column; /* Alinea los elementos en columna */
    align-items: center;
    
    
}
article .cintas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    /* height: 500px; */
    height: 16.04vw;
    min-width: auto;
    min-height: 250px;
    /* PRUEBAS */
    position: relative; /* Añade posición relativa al contenedor */
}
article .cinta-text{
    color: white;
    font-size: 2.5vw;
    font-weight: 700;
    text-align: center;
    padding: 0 20px;
    /* PRUEBAS */ 
    z-index: 3;
    position: absolute; /* Añade posición absoluta al texto */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
}
/* CARROUSEL */
    .carrousel{
        width: 75%;
        max-width: 100vw;
        background-color: var(--fondo_blanco);
        padding: 20px;
        border-radius: 20px;
        height: 500px;
        min-height: fit-content;
        overflow: hidden;

    }
    .carrousel .carr-element{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .carr-element img{
        width: 600px;
        height: 350px;
        object-fit: cover;
        border-radius: 20px;
    }

    .carrousel .grande{
        width: 200%;
        /* background-color: var(--fondo_grisaceo); */
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        align-items: center;
        /* ---------------------------------------------------------------------------------------------- */
        transition: all .5s ease;
        transform: translateX(0%);
    }
    .carrousel .carr-element{
        /* DIVIDIR ENTRE EL NUMERO DE ELEMENTOS Q HAY EN TOTAL */
        width: calc(100% / 4  -4em) ;
        /* padding: 40px 150px; */
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
    }
    .carrousel .columna p{
        padding: 1em;
        text-align: right;
        color: var(--naranja);
        font-size: 1.6rem;
        padding-bottom: 100px;
        padding-right: 20px;
    } 
    .carrousel .columna h3{
        font-size: 2rem;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .puntos{
        width: 100%;
        /* background-color: var(--enlaces); */
        padding: 1em;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;    
        align-items: center;
    }
    .punto{
        text-decoration: none;
        width: 2em;
        height: 2em;
        list-style: none;
        border-radius: 50%;
        background: #eeebd4;
        box-shadow:  7px 7px 14px #9b998a,
                    -7px -7px 14px #ffffff;
        margin: 1em 1em 0;
    }
    .punto:hover{
        background: #e4d5c4;
        box-shadow: inset 7px 7px 23px #5b554e,
            inset -7px -7px 23px #ffffff;
    }
    .punto.activo{
        background: #d6b084;
        box-shadow: inset 7px 7px 23px #5b554e,
            inset -7px -7px 23px #ffffff;
    }
    .carrousel .columna img {
        display: block;
        margin: 0 auto; /* Center the image horizontally */
    }
/* footer */
footer{
    background: url('imagenes/grass.webp');
    background-repeat: repeat;
    background-size: cover;
    height: fit-content;
}
.divider{
    margin: auto;
    padding: 90px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .divider{
    width: 1300px;
    max-width: 1600px;
}
footer .columna{
    color: white;
    text-align: center;
}
#logo-app{
    margin: 0 auto;
    height:350px;
    border-radius: 30px;
}
#privacidad{
    color: white;
    text-decoration: solid;
    text-align: center;
    padding: 130px 0 0;
}
#privacidad a{
    color: white;
    padding-bottom: 20px;
    display: block;
    margin-bottom: 20px; 
}

/* PANTALLAS MEDIANAS */
@media screen and (min-width:640px) {
    
}
/* PANTALLAS PEQUEÑAS */
@media screen and (min-width:60px) {
    
}
@media (max-width: 768px) {
    /* PORTADA(s) */
    header {
        height: 100vh;
        /* padding-top: 120px; */
        color: transparent;
        background: url('imagenes/background-mobile.png') no-repeat center center;
        background-size: cover;
    }
    #portada {
        /* height: 100vh; */
        display: none;
        /* background: url('imagenes/background-mobile.png') no-repeat center center;
        background-size: cover; */
    }
    #portada img{
        display: none;
        
    }

    /* NAVBAR (s) */
    nav .logo :hover {
        /* transform: scale(1.1); */
        border-radius: 30px;
        box-shadow: 7px 8px 10px rgb(14, 20, 41);
    }


    .carrousel {
        width: 100%;
    }

    .carrousel .carr-element {
        width: 100%;
        margin: 0 60px;
    }

    .carrousel .columna p,
    .carrousel .columna h3 {
        text-align: center;
        padding: 0;
    }

    .carrousel .columna p {
        padding-bottom: 1em;
        padding-right: 0;
    }

    .carrousel .columna h3 {
        padding-left: 0;
    }
    .carr-element img{
        width: 260px;
        height: 250px;
        object-fit: cover;
        border-radius: 20px;
    }
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul a li {
        margin: 10px 0;
    }

    article .cinta-text {
        font-size: 5vw;
    }
    article{
        height: fit-content;
    }
    .carrousel {
        width: 100%;
        height: fit-content;
    }

   .dos-columnas {
        flex-direction: column;
        align-items: center;
    }

   .columna {
        width: 100%;
        margin-bottom: 20px;
    }
    footer .divider{
        width: 70%;
        min-width: 200px;
    }
}
    footer i{
        color: white;
        font-size: 2rem;
        padding: 0 10px;
    }
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 180px; 
    z-index: 10;
    padding: 10px;
    border-radius: 10px;
}

.nav-links a {
    width: 100%; /* Ensure links take full width */
}

.nav-links .opciones {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to each option */
    margin-bottom: 10px; /* Add space between options */
}
.nav-links {
    display: none;
}

.nav-links.active {
    display: flex;
}
